div.colorPicker-picker {
	background: url(/images/select.png) no-repeat center;
	border: 1px solid #ccc;
	border-radius: 3px 3px 3px 3px;
	cursor: pointer;
	float: left;
	height: 28px;
	line-height: 16px;
	padding: 0 !important;
	width: 28px;
}

div.colorPicker-picker:hover {
	border-color: rgba(59, 191, 206, 0.75);
}

div.colorPicker-palette {
	background-color: #EFEFEF;
	border: 1px solid #CDCDCD;
	padding: 2px;
	position: absolute;
	width: 110px;
	z-index: 9999;
}

div.colorPicker_hexWrap {
	float:left;
	width: 100%;
}

div.colorPicker_hexWrap label {
	color: #2F2F2F;
	font-size: 95%;
	margin: 5px 2px;
	width: 25%;
}

div.colorPicker_hexWrap input {
	border: 1px solid #000;
	font-size: 95%;
	margin: 5px 2px;
	padding: 0;
	text-transform: uppercase;
	width: 65%;
}

div.colorPicker-swatch {
	border: 1px solid #000;
	cursor: pointer;
	float: left;
	height: 12px;
	line-height: 12px;
	margin: 2px;
	width: 12px;
}
