




#canvas {
	width: 1000px;
	float: left;
}

#play {
	width: 200px;
	float: left;
}

#play .name h2, #play .desc p {
	display: block;
}

#play .name input, #play .desc textarea {
	display: none;
}

#play .edit h2, #play .edit p {
	display: none;
}

#play .edit input, #play .edit textarea {
	display: block;
}

#play .set-list-container {
	position: relative;
	width: 200px;
	padding-top: 20px;
}

#play .set-list-area {
	height: 120px;
	overflow: auto;
}

#play .set-list {
	border-collapse: collapse;
}

#play .set-list thead tr {
	left: 0; top: 0;
	position: absolute;
}

#play .set-list tbody {
	display: block;
	height: 100px;
	overflow-x: auto;
	overflow-y: scroll;
}

#play .set-list tr {
	line-height: 20px;
}

#play .set-list td, #play .set-list th {
	padding: 0 5px;
}

#play .set-list .num {
	width: 35px;
}

#play .set-list .name {
	width: 130px;
}

#play .set-list tr:hover {
	background: #ffa;
}

#play .set-list tr.selected {
	background: yellow;
}

#set {
	width: 200px;
	float: left;
}

#set div {
	display: none;
}

#set div.selected {
	display: block;
}

#set div.selected div {
	display: block;
}

#set .name h2, #set .comments p {
	display: block;
}

#set .name input, #set .comments textarea {
	display: none;
}

#set .edit h2, #set .edit p {
	display: none;
}

#set .edit input, #set .edit textarea {
	display: block;
} 

#article {
	width: 200px;
	float: left;
}

#article div {
	display: none;
}

#article div.selected {
	display: block;
}