/***** CSS RESET *****/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, textarea, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
:focus {
	outline: 0;
}

/***** PLAYBOOK STYLES *****/

body {
	background: #FBFEF5;
}

#header {
/* 
	background: -moz-linear-gradient(top, rgba(0,132,6,0.88) 0%, rgba(0,132,6,0.9) 17%, rgba(0,138,0,0.92) 33%, rgba(82,177,82,0.96) 67%, rgba(131,199,131,0.98) 83%, rgba(180,221,180,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,132,6,0.88)), color-stop(17%,rgba(0,132,6,0.9)), color-stop(33%,rgba(0,138,0,0.92)), color-stop(67%,rgba(82,177,82,0.96)), color-stop(83%,rgba(131,199,131,0.98)), color-stop(100%,rgba(180,221,180,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,132,6,0.88) 0%,rgba(0,132,6,0.9) 17%,rgba(0,138,0,0.92) 33%,rgba(82,177,82,0.96) 67%,rgba(131,199,131,0.98) 83%,rgba(180,221,180,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,132,6,0.88) 0%,rgba(0,132,6,0.9) 17%,rgba(0,138,0,0.92) 33%,rgba(82,177,82,0.96) 67%,rgba(131,199,131,0.98) 83%,rgba(180,221,180,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,132,6,0.88) 0%,rgba(0,132,6,0.9) 17%,rgba(0,138,0,0.92) 33%,rgba(82,177,82,0.96) 67%,rgba(131,199,131,0.98) 83%,rgba(180,221,180,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,132,6,0.88) 0%,rgba(0,132,6,0.9) 17%,rgba(0,138,0,0.92) 33%,rgba(82,177,82,0.96) 67%,rgba(131,199,131,0.98) 83%,rgba(180,221,180,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0008406', endColorstr='#b4ddb4',GradientType=0 ); /* IE6-9 */
 */
	background: rgb(177,216,254); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(177,216,254,1) 0%, rgba(226,240,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(177,216,254,1)), color-stop(100%,rgba(226,240,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(177,216,254,1) 0%,rgba(226,240,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(177,216,254,1) 0%,rgba(226,240,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(177,216,254,1) 0%,rgba(226,240,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(177,216,254,1) 0%,rgba(226,240,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1d8fe', endColorstr='#e2f0ff',GradientType=0 ); /* IE6-9 */
	
	border-bottom: 1px solid #D8E2BC;
	height: 100px;
}

#header h1 {
	color: #1D2D48;
	font-size: 40px;
	font-family: "Copperplate";
	font-weight: bold;
	//margin: 0 50px;
	padding: 30px 0 0 100px;
	text-shadow: 0px 2px 3px #666;
}

#playbook-container {
	border-left: 1px solid #CDCDCD;
	border-right: 1px solid #CDCDCD;
	margin: 0 auto;
	width: 1200px;
}

#playbook {
/* 	padding: 0 0 25px 50px; */
}

#playbook h2 {
	font-size: 24px;
	font-weight: bold;
}

.right-back {
	background-color: #F0F0F0;
	float: left;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.left-back {
	background-color: white;
	border-right: 1px solid #CDCDCD;
	float: left;
	position: relative;
	right: 281px;
	width: 100%;
}

#left-panel {
	float: left;
	left: 281px;
	overflow: hidden;
	padding: 15px 50px 30px;
	position: relative;
	width: 802px;
}

#right-panel {
	float: right;
	left: 281px;
	overflow: hidden;
	padding: 15px;
	position: relative;
	width: 250px;
}


#play {
	width: 800px;
}

#play .name h2, #play .desc p {
	display: block;
}

#play .name input, #play .desc textarea {
	display: none;
}

#play .edit h2, #play .edit p {
	display: none;
}

#play .edit input, #play .edit textarea {
	display: block;
}

#canvas {
	border: 1px solid #CDCDCD;
	width: 800px;
}

#right-panel hr {
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	
	/* IE 5-7 */
	filter: alpha(opacity=25);
	
	/* Netscape */
	-moz-opacity: 0.25;
	
	/* Safari 1.x */
	-khtml-opacity: 0.25;
	
	/* Good browsers */
	opacity: 0.25;
	
	margin: 15px 0;
}

#right-panel label.sectionLabel {
	float: right;
	font-size: 12px;
	font-style: italic;
	margin-top: -8px;
}

#play-contents {
	float: left;
/* 	margin: 0 0 20px 0; */
	width: 250px;
}

#play-contents .set-list-container {
	border: 1px solid #CDCDCD;
/* 	margin: 20px 0; */
	padding-top: 20px;
	position: relative;
	width: 248px;
}

#play-contents .set-list-area {
	height: 100px;
	overflow: auto;
}

#play-contents .set-list {
	border-collapse: collapse;
}

#play-contents .set-list thead tr {
	left: 0; top: 0;
	position: absolute;
}

#play-contents .set-list tbody {
	display: block;
	height: 100px;
	overflow-x: auto;
	overflow-y: scroll;
}

#play-contents .set-list tr {
	line-height: 20px;
}

#play-contents .set-list td, #play-contents .set-list th {
	padding: 0 5px;
}

#play-contents .set-list .num {
	border-right: 1px solid #CDCDCD;
	text-align: center;
	width: 44px;
}

#play-contents .set-list .name {
	width: 168px;
}

#play-contents .set-list tr:hover {
	background: #ffa;
}

#play-contents .set-list tr.selected {
	background: yellow;
}

#play-contents .set-action-container {
	background: #f6f6f6;
	overflow: hidden;
}

#play-contents .set-action {
	float: left;
	font-size: 18px;
	height: 24px;
	line-height: 24px;
	text-align:center;
	width: 30px;
}

#play-contents .set-action a {
	display: block;
	height: 100%;
	width: 100%;
}

#play-contents .set-action a:hover {
	background: #ddd;
}

#play-contents .set-action a:active {
	background: #c3c3c3;
}

#play-contents .formations {
	margin-top: 15px;
}

#play-contents .formationType {
	width: 180px;
}

#play-contents .useForm {
	float: right;
}

#play-contents .team {
	line-height: 28px;
}

#play-contents .team span {
	float: left;
	width: 65px;
}

#play-contents .select-color {
	
}

#play-contents .select-shape {
	background-image: url("/images/imageSelect.png");
	border: 1px solid #CCCCCC;
	cursor: pointer;
/* 	display: inline; */
	float: left;
	height: 28px;
	margin: 0 10px;
	width: 28px;
}

#play-contents .select-shape-palette {
	background: #EFEFEF;
/* 	border: 1px solid #CDCDCD; */
	cursor: pointer;
	display: none;
	position: absolute;
}

#play-contents .select-shape-palette div:first-child {
	border-left: 1px solid #CDCDCD;
}

#play-contents .select-shape-palette div {
	background-image: url("/images/imageSelect.png");
	border: 1px solid #CDCDCD;
	border-left: none;
	float: left;
	height: 28px;
	width: 28px;
}

#play-contents .palette-circle {
	background-position: 0px 0px;
}

#play-contents .palette-circle:hover {
	background-position: 0px -28px;
}

#play-contents .palette-square {
	background-position: -28px 0px;
}

#play-contents .palette-square:hover {
	background-position: -28px -28px;
}

#play-contents .palette-triangle {
	background-position: -56px 0px;
}

#play-contents .palette-triangle:hover {
	background-position: -56px -28px;
}

#play-contents .palette-x {
	background-position: -84px 0px;
}

#play-contents .palette-x:hover {
	background-position: -84px -28px;
}

#play-contents .animation-speed {
	float: right;
	width: 80px;
}

#set {
	float: left;
	width: 250px;
}

#set div.set-view {
	display: none;
}

#set div.selected {
	display: block;
}

#set div.selected div {
	display: block;
}

#set .name h2, #set .comments p {
	display: block;
}

#set .name input, #set .comments textarea {
	display: none;
}

#set .edit h2, #set .edit p {
	display: none;
}

#set .edit input, #set .edit textarea {
	display: block;
}

#set .annotation-view {
	display: none;
	position: absolute;
}

#set .editing {
	display: block;
}

#set .annotation-view div {
	float: left;
}

#set .annotation-edit {
	background: transparent;
	font-family: Helvetica;
	font-size: 12;
	line-height: 16px;
	overflow: hidden;
	padding: 3px 5px;
	position: relative;
	resize: vertical;
/* 	white-space: pre; */
	word-wrap: break-word;
}

#set .annotation-controls {
	position: relative;
	width: 20px;
}

#set .annotation-controls a {
	display: block;
	height: 20px;
	line-height: 20px;
	text-align: center;
	width: 16px;
}

#set .annotation-controls div:hover {
	background-color: rgba(255,255,255,0.1);
}

#set a.annotation-save:hover {
	color: green;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#set a.annotation-cancel:hover {
	color: red;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#article {
	float: left;
	width: 250px;
}

#article div {
	display: none;
}

#article .team-select {
	display: none;
}

#article div.selected {
	display: block;
}

br.clear {
	clear: both;
}


/* font-family: "Trebuchet MS",Arial,sans-serif; */